<div class="example-container">
    <mat-toolbar class="example-toolbar">
      <mat-icon (click)="isExpanded = !isExpanded">menu</mat-icon>
			<span class="example-fill-remaining-space"></span>
      <mat-icon>logout</mat-icon>
		</mat-toolbar>

		<mat-sidenav-container  class="example-sidenav-container" autosize>
			<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
				<mat-nav-list class="dashboard">
					<a mat-list-item (click)="toggleActive($event)">
						<mat-icon mat-list-icon >account_circle</mat-icon>
						<p matLine *ngIf="isExpanded">Name</p>
					</a>
	
					<mat-divider></mat-divider>
	
					<a mat-list-item (click)="toggleActive($event)">
							<mat-icon mat-list-icon>inbox</mat-icon>
							<p matLine *ngIf="isExpanded">Inbox</p>
					</a>
	
	
				</mat-nav-list>
			</mat-sidenav>
	
			<div class="example-sidenav-content"> 
				<cm-map></cm-map>
			</div>
	
		</mat-sidenav-container>
</div>

